table {
text-align: center;
border-spacing: 30px;
margin: auto;
}

th, td {
padding: 15px;
border-top: 1px;
border-bottom: 1px;
border-left: 1px;
border-right: 1px;
}

.previous {
color: #666666;
}

.calendardiv {
margin: auto;
text-align: center;
}

.daydiv {
border: 5px;
text-align: center;
width: 120px;
}

.event_allday {
font-size: 17px;
text-align: center;
}
.dayheading {
font-size: 30px;
text-align: center;
}

.addevent {
text-align: left;
}

.specifictime {
border: 2px;

}